# Created by .ignore support plugin (hsz.mobi)
.idea/
node_modules/
docs/
dist/
lib/
/src/database/config/config-default.js
/src/database/config/config-test.js
/src/database/config/config-override.js
